chart {
    .analy-container {
        width: 100%;
        height: 14rem;
        margin-top: 1rem;
        background: url(../../assets/imgs/home-chart-bg.png) no-repeat;
        background-size: 100%;
        background-position: bottom;
      }
    
}
