@font-face {
  font-family: "Ionicons";
  src: url('../../assets/fonts/iconfont.eot');
  /* IE9 */
  src: url('../../assets/fonts/iconfont.eot#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../../assets/fonts/iconfont.woff') format('woff'),
    url('../../assets/fonts/iconfont.ttf') format('truetype'),
    /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url('../../assets/fonts/iconfont.svg#iefix') format('svg');
  /* iOS 4.1- */
}
.tabs-ios .tab-button-icon{
  font-size: 22px !important;
  padding-top: 5px;
}
.header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before{
  background-image: none !important;
}