page-abnormal-list {
  ion-content {
    background-color: #F7F7FA !important;
  }

  .float-right {
    float: right;
    margin-right: 1.6rem;
    color: #333;
  }

  .card-title {
    color: #78849E;
    margin-left: 0.8rem;
  }

  .item-ios {
    font-size: 1.4rem;
    color: #333;
  }

  .item-block {
    min-height: 4rem;
  }

  .item-ios.item-block .item-inner {
    border-bottom: 0.55px solid #F0F0F0 !important;
  }

  .card-bg {
    margin-top: 0.6rem;
    margin-bottom: 1rem;
  }

  .card-bg ion-item:first-child {
    border-radius: 8px 8px 0 0;
  }

  .card-bg ion-item:last-child {
    border-radius: 0 0 8px 8px;
  }

  .card-bg ion-item:last-child .item-inner {
    border-bottom-color: transparent !important;
  }

  ion-icon {
    font-size: 1em;
    margin-left: 0.4rem;
    min-width: 1.4rem;
  }


}
