page-repair {

  ion-content {
    background-color: #F7F7FA !important;
  }

  //title
  .bar-button-default-md,
  .bar-button-default-ios {
    color: #78849E;
  }

  .bar-button-ios {
    font-size: 1.6rem;
  }

  .bar-button-md {
    height: 22px;
  }

  .toolbar-ios,
  .toolbar-md {
    min-height: 4.8rem !important;
  }

  .toolbar-ios .segment-button,
  .toolbar-md .segment-button {
    max-width: 100%;
    height: 4.6rem;
    line-height: 4.6rem;
    border-top: 1px solid #F0F0F0;
    border-right: 1px solid #F0F0F0;
    border-bottom: none;
    border-left: none;
    color: #959DAD;
  }

  //列表title
  .list-title {
    margin: 1.4rem 1.6rem 1rem 1.6rem;
    height: 1.2rem;
  }

  .list-title span {
    float: left;
  }

  .list-title div {
    float: right;
  }

  .list-title ion-icon {
    font-size: 1.4rem;
  }

  //任务内容
  ion-card {
    box-shadow: none !important;
  }

  .mission-content {
    padding: 1rem;
  }

  .top-line {
    display: block;
    width: 2rem;
    height: 0.3rem;
    border-radius: 6px;
    margin-bottom: 0.4rem;
    background-color: #2699FB;
  }

  .mission-content p:nth-child(2) {
    color: #454F63;
  }

  .mission-content p:nth-child(3) {
    font-size: 1.2rem;
  }

  .progress-back p,
  .mission-content p:nth-child(3),
  .list-title {
    color: #78849E;
  }

  .mission-content span:nth-child(4) {
    display: block;
    width: 100%;
    height: 0.1rem;
    background-color: #F0F0F0;
    margin: 0.8rem 0;
  }

  .progress-on div {
    display: inline-block;
  }

  .progress-on p {
    font-size: 1.2rem !important;
    margin-top: 0.4rem;
  }

  .checked,
  .uncheck {
    display: block;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 20px;
    margin: 0 auto;
  }

  .checked {
    background-color: #69A7F0;
  }

  .uncheck {
    border: 2px solid #69A7F0;
  }

  .dot-gather {
    width: auto;
    max-height: 3.6rem;
  }

  .dot-gather div {
    margin: 0.2rem;
    display: inline-block;
    width: 0.4rem;
    height: 0.4rem;
    background-color: #D4EBFE;
    border-radius: 10px;
  }
  .progress-on > div{
    width: 18%;
  }


  //上报按钮
  .report {
    position: absolute;
    width: 6rem;
    height: 6rem;
    background: url(../../assets/imgs/repair_btn.png) no-repeat;
    background-size: 100% 100%;
    bottom: 10px;
    right: 10px;

  }
}
